@keyframes highlight-text {
	0% {
		color: rgb(247, 172, 83);
	}
	25% {
		color: rgb(236, 193, 142);
	}
	35% {
		color: rgb(245, 223, 198);
	}
	50% {
		color: #fff;
	}
	80% {
		color: rgb(245, 223, 198);
	}
	90% {
		color: rgb(236, 193, 142);
	}
	100% {
		color: rgb(170, 172, 150);
	}
}

@keyframes blinking {
	1% {
		opacity: 1;
	}
	50% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}