.contact {
	background-color: #4e4b4b;	
	padding: 0 20px;
	position: relative;

	min-height: 80vh;
}

.contact__form-wrapper {
    background-color: #181818;
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.3);
    margin: 20px auto 0;
    padding: 5px 30px 40px;
    width: 100%;
}

.contact__form {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.contact__item {
    margin-top: 20px;
    height: 38px;
    position: relative;
    width: 100%;
}

.contact__item--last {
	width: 100%;
}

.contact__input {
	background: transparent;
	border: none;
	border-bottom: 1px solid #FFF;
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: 400;
	height: 100%;
	line-height: 30px;
	padding-top: 10px;
	width: 100%;
}

.contact__input:hover,
.contact__input:focus {
	outline: none;
	border-bottom: 1px solid #f7ac53;

	transition: border-bottom .3s ease;
}

.contact__input:focus + .contact__label,
.contact__input:not(:placeholder-shown) + .contact__label {
    bottom: 8px;
    left: -3px;

    transform: scale(0.9);
    transition: all .3s ease;
}

.contact__label {
	position: absolute;
	bottom: -13px;
	left: 0;

	color: #feb960;
	font-family: "Open Sans", sans-serif;
	font-size: 11px;
	font-weight: 400;
	line-height: 65px;
	text-transform: uppercase;

	pointer-events: none;
}

.contact__btn-wrapper {
	margin-top: 40px;
	text-align: center;	
	width: 100%;
}

.contact__btn {
	background-color: #feb960;
    color: #232323;
    display: inline-block;
    font-family: "Open Sans - Semibold", sans-serif;
    font-weight: 400;
    line-height: 2;
    padding-right: 66px;
    padding: 5px 40px 5px 15px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
}

@media only screen and (min-width: 320px) {  }

@media only screen and (min-width: 480px) { 
	
}

@media only screen and (min-width: 768px) { 
	.contact__form-wrapper {
	    max-width: 775px;
	}

	.contact__form {
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	}

	.contact__item {
	    max-width: 275px;
	}

	.contact__item--last {
		max-width: none;
	}
 }

@media only screen and (min-width: 992px) { 

 }