.customer {
	background-color: #202020;
	padding-bottom: 40px;
    position: relative;
    min-height: 100vh;
}

.customer__brands {
	margin: 50px 20px 0;
	text-align: center;
    max-width: 800px;
    overflow-x: scroll;
	
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64  */ 
}

.customer__brands::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.customer__brand {
	display: inline-block;
	margin-left: 10px;
}

.customer__logo {
    width: 60px;
}

.customer__review--wrapper {
    margin-top: 50px;
	width: 100%;
}

.customer__review {
    background-color: #181818;
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.3);
	text-align: center;
    padding: 25px 0 10px;
    position: relative;
    margin: 0 auto;
   	max-width: 400px;
}

.customer__photo {
	float: left;
	padding: 0 10px;

	object-fit: cover;
	width: 75px;
	height: 75px;
}

.customer__quote {
	color: #bbbbbb;
	font-size: 12px;
	text-align: left;
	margin: 0 auto;
	width: 80%;
}

.customer__quote::before {
    content: open-quote; 
 }

.customer__quote::after {
    content: close-quote;
}

.customer__author-wrapper {
	margin-top: 15px;
}

.customer__text-in-hr {
	color: #feb960;
	font-family: "Open Sans - Semibold";
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	text-transform: uppercase;
}

.customer__text-in-hr::before {
	content: '';
	display: block;
	clear: left;
}

.customer__text-in-hr {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.customer__text-in-hr > span {
    display: inline-block;
    position: relative;
}
	
.customer__text-in-hr > span::before,
.customer__text-in-hr > span::after {
    background: rgba(255, 255, 255, 0.2);
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    width: 9999px;
 }

.customer__text-in-hr > span::before {
    margin-right: 15px;
    right: 100%;
}

.customer__text-in-hr > span::after {
    left: 100%;
    margin-left: 15px;
}

.customer__position {
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.69;
}

@media only screen and (min-width: 320px) {  }

@media only screen and (min-width: 480px) { 
	.customer__review {
		width: 80%;
	}
}

@media only screen and (min-width: 768px) { 

	.customer__brands {
		margin-left: auto;
		margin-right: auto;

		justify-content: space-evenly;
	}

	.customer__photo {
		display: inline-block;
		float:  none;
		margin-top: 0px;
	}

	.customer__review {
		padding-top: 0;
		max-width: 840px;
	}

	.customer__quote {
		font-size: 1.4rem;
		margin-top: 20px;
		text-align: center;
		width: 90%;
	}
 }

@media only screen and (min-width: 992px) { 

 }