.footer {
	background: #4e4b4b;
	padding-top: 15px;
	padding-bottom: 25px;

	min-height: 20vh;
}

.footer__wrapper {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}

.footer__office {
	text-align: center;
}

.footer__office > li {
	list-style-type: none;
	margin-top: 20px;
}

.footer__item-wrapper {
	width: 100px;
}

.footer__header {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 5px;
}

.footer__address,
.footer__phone,
.footer__email,
.footer__icons {
	display: none;
	color: rgba(255, 255, 255, 0.3);
}

.footer__item:hover .footer__address,
.footer__item:hover .footer__phone,
.footer__item:hover .footer__email,
.footer__item:hover .footer__icons {
	display: block;
}

.footer__email {
	margin-top: 5px;
}

.footer__icons {
	margin-top: 10px;
}

.footer__icons li {
	color: white;
	display: inline;
	padding-right: 5px;
}

@media only screen and (min-width: 320px) {  }

@media only screen and (min-width: 425px) { 
	.footer__office {
	    text-align: center;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-evenly;
	    width: 100%;
	    padding: 0 30px;
	}

	.footer__address,
	.footer__phone,
	.footer__email,
	.footer__icons {
		display: block;
	}
 }

@media only screen and (min-width: 768px) { 
	.footer__wrapper {
		justify-content: space-around;
		align-items: center;
		width: 800px;
	}

	.footer__item-wrapper {
		width: 200px;
	}

	.footer__office {
		width: auto;
	}
 }

@media only screen and (min-width: 992px) { 

 }
