@import url('normalize.css');

@import url("intro.css");
@import url('service.css');
@import url('portfolio.css');
@import url('customer.css');
@import url('team.css');
@import url('contact.css');
@import url('footer.css');

@import url('common_animation.css');

@font-face {
  font-family: 'Open Sans - Semibold';
  src: url('../fonts/sans-serif-semibold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

html, body {
    background: #f1f1f1;
    color:  #FFF;
	font-family: 'Merriweather', serif;
	font-size: 10px;
	height: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.header {
	text-align: center
}

.header__name {
    color: #f7ac53;
    font-family: "Open Sans - Semibold", sans-serif;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.header--portfolio {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 80%;
	max-width: 500px;
}

.section__vertical-line {
	border-left: 2px solid #f7ac53;
	display: inline-block;
	height: 40px;
}

.section__vertical-line--portfolio-up {
    position: absolute;
    top: 0;
    left: 0;
}

.section__vertical-line--portfolio-down {
	display: none;
}

.header__name--service-highlighted {

}

.header__description {
    font-size: 1.7rem;
    margin: 30px auto 0;
    max-width: 320px;
}

.header__name--portfolio {
	position: absolute;
    top: 30px;
    left: 0;
}

.header__description--portfolio {
    margin: 0;
    text-transform: capitalize;
	
	position: absolute;
    top: 60px;
    left: 0;
}

.header__description::first-letter {
	text-transform: capitalize;
}

.header__description--contact {
	margin-top: 10px;
}

.arrow {
    height: 9px;
    position: absolute;
    transform: rotate(45deg);
    width: 9px;
}

 .arrow::before {
		border-color: orange;
		border-style: solid;
		border-width: 1px 1px 0 0;
		content: '';
		display: block;
		height: 100%;
		transition: .2s ease;
		transform-origin: 100% 0;
		width: 100%;
}

.arrow::after {
		border-width: 0 1px 0 0;
		border-color: orange;
		border-style: solid;
		content: '';
		float: left;
		position: relative;
		top: -100%;
		height: 22px;	
		width: 100%;
		
		transform-origin: 100% 0;
		transition:.2s ease;
		transform: rotate(45deg);
}

.arrow--getintouch {
    right: -40%;
    top: 20%;
}

.arrow--service {
	top: 0;
	left: 170px;
}

.arrow--details {
    position: absolute;
    right: -30px;
    top: 0;
}

.arrow--slides { 
    position: absolute;
    right: -30px;
    top: 0;
}

.arrow--contact {
    border-color: blue;
    top: 11px;
    right: 13px;
}

 .arrow--contact::before,
 .arrow--contact::after {
 	border-color: #232323;
}

.f-symbol {
    border: 1px solid white;
    border-radius: 50px;
    border-color: #feb960;
    display: inline-block;
    height: 35px;
    position: relative;
    width: 35px;
}

.f-symbol::after {
	display: block;
	color: #feb960;
	content: "f";
	left: 50%;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
 	transform: translate(-50%, -50%);
}

.f-symbol:active {
	transition: 1.5s;
	transform: rotateX(360deg);
}

.f-symbol--footer {
	display: none;
}

.slider-indicator {
    text-align: center;
    margin-top: 30px;
}

.slider__item {
	border-bottom: 2px solid #5c5c5c;
	display: inline-block;
    margin: 0 5px;
    padding: 0px 20px;
	width: 10px;
}

.slider__item--active {
	border-bottom: 2px solid #f7ac53;
}

.triangle--wrapper {
	height: 65px;
	width: 20px;
   
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    transform: translate(20%, 0);
}

.triangle--wrapper-intro {
	position: relative;
	height: 75px;
	width: 20px;
}

.triangle {
	border: solid #f7ac53;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 5px;
	transform: rotate(45deg);

	position: absolute;
	top: 0;
	left: 0;

	opacity: 0;

	animation: intro__sliced-triangle;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: 2s;
}

.blinking:hover {
	animation-name: blinking;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.responsive {
	height: auto;
	width: 100%;
}

.switch-card {
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
	z-index: 1;

    background: rgba(34, 34, 34, 0.24);
}

.switch-card--left {
    left: 0;
}

.switch-card--right {
    right: 0;
}

.switch-card i {
    border: solid rgba(247, 172, 83, 0.2);
    border-width: 0px 3px 2px 0;
    display: inline-block;
    padding: 10px;
}


.switch-card:hover {
    background: rgba(34, 34, 34, 0.40);
}

.switch-card:hover i {
  	border: solid rgba(247, 172, 83, 1);
    border-width: 0px 3px 2px 0;
 }

.switch__arrow--wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.switch__arrow--left {
	transform: rotate(135deg);
}

.switch__arrow--right {
	transform: rotate(-45deg);
}

@media only screen and (min-width: 320px) {  }

@media only screen and (min-width: 480px) { 
	.header__description {
		font-size: 2.4rem;
		max-width: 490px;
	}
 }

@media only screen and (min-width: 768px) { 

	.header--portfolio {
		left: -90px;
	    right: auto;
	    margin: auto;
	    width: 80%;
	    max-width: 500px;
	}

	.header__name--portfolio {
		top: 35px;
		font-size: 1.4rem;
	}

	.header__description {
		top: 70px;
 	   	font-size: 3.4rem;
	}

	.header__description--service {
 	   	font-size: 3.4rem;
    	max-width: 550px;
	}

	.header__description--customer {
		min-width: 610px;
	}

	.section__vertical-line--portfolio-down {
	    display: inline-block;
	}

	.f-symbol--footer {
		display: inline-block;
	}

	.arrow--slides {
		right: 0;
	}
}

@media only screen and (min-width: 992px){ 

 }