@import url('intro_animation.css');

.intro {
    align-items: center;
    background-image: url(../img/intro/intro.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.intro__caption-border {
	border: 1px solid rgba(143, 143, 143, 0.5);
    padding: 15px 10px 20px;
    margin-top: 100px;
   	max-width: 320px;
    width: 90%;
}

.intro__text {
    font-family: Merriweather, serif;
    font-size: 2rem;
	text-transform: capitalize;
    line-height: 1.3;
}

.intro__text--highlighted {
  	color: #f7ac53;
}

.intro__text--no-capitalize {
	text-transform: none;
}

.intro__categories {
	color: #ffffff;	
	margin-top: 20px;
}

.intro__categories > li{
    border-right: 1px solid #f7ac53;
    display: inline-block;
    padding: 0 10px;
    list-style-type: none;
    
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.intro__categories > li:last-child {
	border-right: none;
}



.intro__additional-info {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.intro__getintouch {
	position: relative;
}

.intro__getintouch-text {
    font-size: 1.2rem;
}

.intro__getintouch:hover {
	color: #f7ac53;
}

@media only screen and (min-width: 480px) { 
	.intro__text {
		font-size: 3rem;
	}

	.intro__caption-border {
		max-width: 380px;
		width: auto;
	}
}

@media only screen and (min-width: 768px) { 
	
	.intro__text {
		font-size: 4.5rem;
	}

	.intro__categories > li {
		font-size: 1.5rem;
	}

	.intro__getintouch-text {
		font-size: 1.4rem;
	}

	.intro__caption-border {
		max-width: 700px;
    	width: 80%;
	}
 }

@media only screen and (min-width: 992px){ 
	
	.intro__text {
		font-size: 5.5rem;
	}

	.into__caption-border {
		max-width: 
	}
 }