
@Keyframes intro__sliced-triangle {
	5%{
		opacity: 0;
	}
	15%{
		opacity: 0;
	}

	30% {
		opacity: 1;

	}
	31% {
		opacity: 0;
	}
	47%{
		opacity: 0;
	}
	69% {
		opacity: 1;
	}
	71% {
		opacity: 0;
	}
	98% {
		opacity: 1;
		top: 60px;	
	}
}