.portfolio {
	background: #181818;
	padding-top: 20px;
	padding-bottom: 40px;
    position: relative;
    height: 100vh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.portfolio__wrapper {
    position: relative;
}

.portfolio__description {
    color: white;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: right;
    height: 100px;
    max-width: 500px;
    width: 80%;
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 20px;
    margin: auto;

}

.portfolio__slides {
    top: 10px;
    position: relative;
}

@media only screen and (min-width: 320px) {  }

@media only screen and (min-width: 480px) { 
    .portfolio__description {
        right: 0;
    }
}

@media only screen and (min-width: 768px) { 

/*     .portfolio__wrapper {
        position: relative;
    } */

    .portfolio__description {
        font-size: 1.4rem; 
        height: auto;
        left: auto;
        right: -140px;
        margin: auto;
        width: auto;
        text-align: left;
    }

    .portfolio__details {
        top: -20px;
        position: relative;
    }

    .portfolio__slides {
        top: -10px;
    }
}

@media only screen and (min-width: 992px) { 

 }