.service {
	background: #202020;
	padding: 0 0 30px;
    text-align: center;
    min-height: 100vh;

    position: relative;
}

.service__items {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.service__item 	{
    margin-top: 50px;
    list-style: none;
}

.service__item-wrapper {
	margin: 0 auto;
	width: 223px;
}

.service__item-header {
	display: inline-block;
	margin-left: 10px;
	text-transform: capitalize;
}

.service__item-description {
	display: none;
    color: #bbbbbb;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    margin-top: 10px;
    padding-left: 40px;
    text-align: left;
    width: 223px;
}

.service__item:hover .service__item-description {
	display: block;
}

.service__item-details {
	color: white;
	margin-top: 15px;
	position: relative;
	text-transform: uppercase;
}

@media only screen and (min-width: 320px) {  }

@media only screen and (min-width: 446px) { 
	
	.service__items {
		margin-top: 50px;
	}

	.service__item-description {
		display: block;
	}

}

@media only screen and (min-width: 768px) { 

 }

@media only screen and (min-width: 992px) { 

 }