.team {
	background-color: #181818;
	padding: 0 20px 40px;
	position: relative;
	text-align: center;
	min-height: 100vh;
}

.team__cards--wrapper {
	position: relative;
}

.team__cards {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: column;
	margin: 50px auto 0;
}

.team__card {
	list-style-type: none;

	border-bottom: 3px solid #d8d2d261;
    border-right: 3px solid #d8d2d261;
	width: 267px;
	height: 312px;

	display: none;
}

.team__cards li:first-child {
	display: block;
}

.team__card:hover .team__fullname {
	position: absolute;
    top: 80px;
    left: 38px;

    margin-top: 0;
    height: 200px;
    text-align: left;
	/* transition: all 1s; */
}

.team__card:hover .team__main-info {
	position: relative;

	writing-mode: vertical-lr;
	text-orientation: mixed; 
	/* transition: all 1s; */
}

.team__card:hover {
	display: flex;
	/* transition: all 1s; */
}

.team__card:hover .team__position {
	position: absolute;
    top: 80px;
    left: 10px;

    margin-top: 0;
    text-align: left;
    height: 200px;
	/* transition: all 1s; */

}

.team__card:hover .team__description {
    display: block;
    opacity: 1;
    padding: 14px 10px 10px 70px;
    width: 223px;
    font-size: 1.4rem;
	/* transition: all 1.5s .5s; */
}

.team__card:hover .team__photo {
	margin-top: 0;
	width: 49px;

	position: absolute;
	top: 10px;
    left: 10px;

	height: 49px;
	width: 49px;
	/* transition: all 1s; */
}

.team__main-info {
	/* height: 312px; */
	width: 284px;
}

.team__main-info {
	position: relative;
	font-size: 1.4rem;
	width: initial;
}

.team__photo {
	border-radius: 50%;
	margin-top: 25px;

	object-fit: cover;
	height: 120px;
	width: 120px;
}

.team__photo--wrapper {
	border-top: 3px solid #f7ac53;
	border-left: 3px solid #f7ac53;
    height: 67px;
    width: 67px;
    
    position: absolute;
    top: -3px;
    left: -3px;
}

.team__fullname {
	color: #f7ac53;
	margin-top: 40px;
	text-transform: uppercase;
}

.team__position {
	margin-top: 30px;
}

.team__description {
	display: none;
	opacity: 0;
	/* transition: all 1s; */
}


@media only screen and (min-width: 320px) {  }

@media only screen and (min-width: 480px) { 
	  }

@media only screen and (min-width: 768px) { 

	.team__cards {
	    flex-direction: row;
	    justify-content: space-evenly;
	    position: relative;
	}

	.team__card {
		position: static;
	}

	.team__cards > li:nth-child(2) {
		display: block;
	}
 }

@media only screen and (min-width: 1024px) { 
	
	.team__cards > li:nth-child(3) {
		display: block;
	}	
 }